.sign-in{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2em;

    
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }  
}
